@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
  cursor: none;
}

@media (max-width: 768px) {
  html {
    cursor: auto;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Syne', sans-serif;
  overflow-x: hidden;
}